.name{
    font-size: 1.4rem;
    font-family: 'Patrick Hand', cursive;
}
a:visited {
  text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
.pad {
    /*background-color: #8E806A !important;*/
    font-family: 'KoHo', sans-serif;

    font-size: 80px;
    color: white;

}
.pad2{
    background-color: #E9EAEC!important;
    /*margin-left: 18.25rem;*/
    /*margin-right: 18.25rem;*/
}
body{
    background-color: #E9EAEC!important;
}
#p_image{
    background-image: url("coffee.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1620px;
    padding-bottom: 200px !important;



}
